<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleForFooter.css">
    <title>Document</title>
</head>
<body>
    <footer class="footer-section">
        <div class="section-content">
            <p class="copyright-text">&copy 2025 E-Devices Store</p>
            <div class="social-link-list">
                <a href="#" class="social-link"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="social-link"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" class="social-link"><i class="fa-brands fa-instagram"></i></a>                           
            </div>
            <p class="policy-text">
                <a href="#" class="policy-link">Privacy policy</a>
                <span class="separator">&#9679</span>
                <a href="#" class="policy-link">Refund policy</a>
            </p>
        </div>
    </footer>
</body>
</html>