<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="styleForContact.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <section class="rate-section" id="rate">
        <h2 class="section-title">RATE US</h2>
        <div class="section-content">
            <ul class="rate-info-list">
                <li class="rate-info">
                    <i class="fa-regular fa-envelope"> </i>
                    <p> info@E-Deviceswebsites.com</p>
                </li>
                <li class="rate-info">
                    <i class="fa-solid fa-phone"></i>
                    <p> 0398399540</p>
                </li>
                <li class="rate-info">
                    <i class="fa-regular fa-clock"></i>
                    <p> From 8am - 17pm every day</p>
                </li>
                <li class="rate-info">
                    <i class="fa-solid fa-location-dot"></i>
                    <p> University Of Information Technology, Thu Duc, Ho Chi Minh</p>
                </li>
                <li class="rate-info">
                    <i class="fa-regular fa-envelope"></i>
                    <p> info@E-Deviceswebsites.com</p>
                </li>
                <li class="rate-info">
                    <i class="fa-solid fa-globe"></i>
                    <p> www.fromuitwithlove.com</p>                            
                </li> 
            </ul>
        </div>
    </section>

</body>
</html>