* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libre Baskerville", serif;
}

body {
    background: url(/pics/Authentication.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #ffffff;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-bottom: 80px;    
}

.input-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.loginForm .input-container .password-container{
    display: flex;
    gap:5px
}

i{
    width: 40px;
    border-radius: 4px;
    cursor: pointer;
}

input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #4a90e2;
    outline: none;
}

.input-container label {
    position: absolute;
    left: 15px;
    top: 12px;
    color: #999;
    pointer-events: none;
    transition: all 0.3s ease;
    background-color: transparent;
    padding: 0 5px;
}

.input-container input:focus ~ label,
.input-container input:not(:placeholder-shown) ~ label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #4a90e2;
    background-color: white;
    padding: 0 5px;
}


.loginButton {
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    margin-top: 10px;
}

.loginButton:hover {
    background-color: #357ae8;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.loginButton:active {
    transform: translateY(0);
}

.register-link {
    gap: 8px;
    display: flex;
    flex-direction: row;
    color: #4a90e2;
    text-decoration: none;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}

.register-link button{
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 40%;
    margin-top: 10px;
}

.register-link button:hover {
    background-color: #357ae8;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.register-link button:active {
    transform: translateY(0);
}